
@{
    ViewData["Title"] = "Meme";
}


<div class="container" style="margin-top: 25px;">
    <div class="row align-items-start">
        <div class="col">
            <img src="~/images/Chapkin1.jpeg" width="300px" />
        </div>
        <div class="col">
            <img src="~/images/Chapkin5.jpeg" width="300px" />
        </div>
        <div class="col">
            <img src="~/images/Chapkin3.jpeg" width="300px" />
        </div>
    </div>
    <div class="row ">
        <div class="col">
            <img src="~/images/Chapkin4.jpeg" width="300px" />
        </div>
        <div class="col">
            <img src="~/images/Chapkin2.jpeg" width="300px" />
        </div>
        <div class="col">
            <img src="~/images/Chapkin.jpeg" width="300px" />
        </div>
    </div>
    <div class="row ">
        <div class="col">
            <img src="~/images/Chapkin6.jpeg" width="300px" />
        </div>
        <div class="col">
            <img src="~/images/Chapkin7.jpg" width="300px" />
        </div>
        <div class="col">
            <img src="~/images/Chapkin8.jpg" width="300px" />
        </div>
        <div class="col">
            <img src="~/images/Chapkin9.jpg" width="300px" />
        </div>
    </div>
</div>